.page{
    
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
   background-color: rgb(70, 121, 121); 
   border-radius: 10px;
}
.section1{
    height: 200px;
    background-color: rgb(107, 111, 114);
    color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    
}
.section{
    margin-bottom: 70px;
    text-align: justify;
}
.nom-infos{
float: left;
color: white;
}
.photo{
    float: right;
}
.taille-img{
    width: 200px;
    border-width: 5px;
    border-style: solid;
    border-radius: 45px;
    border-color: rgb(255, 255, 255);
}
.sec-left{
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.sec-right{
    margin-left: 160px;
}
.col{
    border-width: 5px;
    border-style: solid;
    border-radius: 90px;
    border-color: white;
    font-size: 25px;
background-color: rgb(107, 111, 114);
color: rgb(255, 255, 255);
text-align: center;
    
}
@media only screen and (max-width: 780px){
    .taille-img{
        width: 100px;
    }
}